*{
	margin:0;
	padding: 0;
	@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,200i,300,300i,400,400i,500,500i,600,600i,700');
	font-family: 'IBM Plex Mono', monospace;
	// background-color: aqua;
}

