.firstScroll{
	background-image:linear-gradient(90deg, greenyellow,yellow);
	color: beige;
	display:flex;
	// border: 4px sandybrown;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.intro{
		// border: 2px solid blanchedalmond;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.circle{
			height: 300px;
			width: 300px;
			border: 5px whitesmoke solid;
			border-radius: 50%;
		}
		.name,.job,.place{
			text-align: center;
		}
		.name{
			font-weight: bolder;
			font-size: 3em;
		}
		.job{
			font-weight: bold;
			font-size: 20px;
		}
		.place{
			font-weight: 500;
			font-size: 20px;
			line-height: 20px;
		}
	}
	.social-media{
		display: flex;
		width: 40%;
		height: 10%;
		justify-content: space-between;
		align-items: stretch;
		.icon{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			min-width: 100px;
			background-color: rgb(211, 223, 223);
			color: greenyellow;
		}
	}
	// div{
	// 	border:1px solid goldenrod;
	// }
}