.thirdScroll {
	background-color: #1A354D;
	.title {
		font-weight: bold;
		font-size: 4rem;
		display: block;
		text-align: center;
		color: palegoldenrod;
	}
	code {
		color: #03D609;
		word-wrap: break-word;
		pre{
			overflow-y: hidden;
		}
	}
}
